<!DOCTYPE html>

<head>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="homepage.css">

</head>




<body>
    <div id="wrapper">
    <div id="taskHolder">
       
        <ul id="tasklistitemholder">

            <li id="tasklistitems" v-for="(task, index) in tasklist">{{task.title}}
            <button type="button" id="editButton" onclick="togglePopup2()">Edit Task</button>
            <button type="button" class="btn btn-danger" @click="removeTask(index)">Delete</button>
        </li>

        </ul>

    </div>

    <div id="buttonHolder">

        <button id="createTaskButton" onclick="togglePopup()">Create Task</button>

    </div>

    
    <div class="popup" id="popup-1">
       
        <div class="overlay"></div>
        
        <div class="content">
                
            <div class="close-btn" onclick="togglePopup()">&times;</div>
         
            <input class="inpbox" type="text" v-model="newNewTask" placeholder="Task Title"> 
            <br>
            <select id="taskType" v-model="tasktype">
                <option value="currentSelected">Current Selected Type</option>
                <option value="defaultType">Default Type</option>
                <option value="typeTwo">Type Two</option>
                <option value="typeThree">Type Three</option>
            </select>
            <br>
            <input class="inpbox" type="text" v-model="detail" placeholder="Task Details"> 
            <input class="inpbox" type="text" v-model="location" placeholder="Location"> 
            <input class="inpbox" type="text" v-model="deadline" placeholder="Deadline"> 
            <br>
            <br>
            <button v-on:click="addNewTask">Click to Add</button> 

        </div>
    </div>

    <div class="popup" id="popup-2">
       
        <div class="overlay"></div>
        
        <div class="content">
                
            <div class="close-btn" onclick="togglePopup2()">&times;</div>
         
            <input class="inpbox" type="text" v-model="newNewTask" placeholder="Task Title"> 
            <br>
            <select id="taskType" v-model="tasktype">
                <option value="currentSelected">Current Selected Type</option>
                <option value="defaultType">Default Type</option>
                <option value="typeTwo">Type Two</option>
                <option value="typeThree">Type Three</option>
            </select>
            <br>
            <input class="inpbox" type="text" v-model="detail" placeholder="Task Details"> 
            <input class="inpbox" type="text" v-model="location" placeholder="Location"> 
            <input class="inpbox" type="text" v-model="deadline" placeholder="Deadline"> 
            <br>
            <br>
            <button v-on:click="">Save</button> 
        </div>
    </div>



        </div>
    </div>

</div>

</body>





<script>

function togglePopup() {

    document.getElementById("popup-1").classList.toggle("active");

}

function togglePopup2 () {
    document.getElementById("popup-2").classList.toggle("active");
}


let task = new Vue ({

    el:'#wrapper',


    data: {

        newNewTask: '',

        tasklist: [],

        tasktype:'',

        detail: '',

        location: '',

        deadline: '',

        index: ''

    },

    methods: {
    
        addNewTask() {
        
            this.tasklist.push ( {

            title: this.newNewTask,
            
            tasktype: this.tasktype,

            detail: this.detail,

            location: this.location,

            deadline: this.deadline
            
        });

        this.newNewTask = '';

        this.tasktype = '';

        this.detail = '';

        this.location = '';

        this.deadline = '';
        
        togglePopup();
    },
     
        removeTask(index) {
    
            this.tasklist.splice(index, 1);
        }   
    }   
});


</script>