<!DOCTYPE html>

<head>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="homepage.css">

</head>




<body>
    <div id="wrapper">
    <div id="taskHolder">
       
        <ul>

            <li v-for="task in tasklist" v-text="task"></li>


        </ul>

    </div>

    <div id="buttonHolder">

        <button id="createTaskButton" onclick="togglePopup()">Create Task</button>

    </div>

    
    <div class="popup" id="popup-1">
       
        <div class="overlay"></div>
        
        <div class="content">
                
            <div class="close-btn" onclick="togglePopup()">&times;</div>
         
            <input class="inpbox" type="text" v-model="newNewTask" placeholder="Task Title"> 
            <input class="inpbox" type="text" placeholder="Task Type // SOON"> 
            <input class="inpbox" type="text" placeholder="Task Details"> 
            <input class="inpbox" type="text" placeholder="Location"> 
            <input class="inpbox" type="text" placeholder="Deadline"> 
            <br>
            <br>
            <button v-on:click="addNewTask">Click to Add</button> <!-- V-on is used for event listeners --> <!--Instead on v-on:click you can simply use @click-->

        </div>
    </div>
</div>

</body>





<script>

function togglePopup(){

    document.getElementById("popup-1").classList.toggle("active");

}


let newTask = new Vue ({

    el:'#wrapper',


    data: {

        newNewTask: '',

        tasklist: []


    },

    methods: {
    
        addNewTask() {
        
            this.tasklist.push(this.newNewTask);

            this.newNewTask = '';

            togglePopup();

        }

    }

});
</script>